header {
  display: flex;
  justify-content: center;
}
main {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.input-fields input {
  width: 100px;
  margin: 20px;
  padding: 10px;
}
.draw-button {
  padding: 10px;
  font-size: 1rem;
}
.cell {
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
}
